{
  "plugins": ["prettier-plugin-solidity"],
  "tabWidth": 2,
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "slang",
        "singleQuote": true,
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 80,
        "bracketSpacing": false
      }
    }
  ]
}
